/* RESET */
* {
    box-sizing: border-box;
}

body, ul, li {
    margin: 0px;
    padding: 0px;
}

/* GENERAL */
@font-face {
    font-family: "Montserrat-Regular";
    src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "Helvetica";
    src: url('../fonts/helvetica/Helvetica.ttf');
}


body {
    background: #fefefe;
}

button {
    padding: 1rem;
    border-radius: 0.25rem;
    border: none;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    font-size: 0.645rem;
    cursor: pointer;
    color: #323232;
}

.container {
    max-width: 707px;
    margin: 0 auto;
    width: 100%;
    padding: 0 0.625rem;
}

input, textarea {
    border: none;
}

.active {
    color: #ffe26d;
}

.yellow-background {
    background: #ffe26d;
    color: #323232;
}

.purple-background {
    background: #62497c;
    color: white;
}

.purple-background:hover {
    background: white;
    color: #62497c;
    border: 1px solid #62497c;
}

/* HEADER */

#header {
    color: white;
    display: flex;
    height: 695px;
    background: url('../images/backgrounds/background-header.png') center no-repeat,
        #cecece;
    background-clip: border-box;
    padding-top: 40px;
}

.header-navbar-logo {
    font-size: 1.84rem;
    cursor: pointer;
}

.header-navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Montserrat-Bold';
    position: relative;
}

.header-navbar-ul ul {
    list-style: none;
    text-transform: uppercase;
}

.header-navbar-ul li {
    display: inline-block;
    font-family: 'Montserrat-Bold';
    font-size: 0.645rem;
    margin-left: 32px;
    cursor: pointer;
}

.header-navbar-ul li:hover,
.header-navbar-ul li:active,
.header-navbar-mobile li:hover {
    color: #ffe26d;
    transform: scale(1.1);
}

.header-description {
    margin-top: 133px;
}

.header-description-title {
    font-family: 'Montserrat-Bold';
    font-size: 2.54rem;
    max-width: 550px;
}

.header-description-text {
    font-family: 'Roboto';
    font-size: 1.19rem;
    max-width: 431px;
    margin-top: 40px;
    margin-bottom: 34px;
}

.header-description-buttons button {
    font-family: 'Montserrat-Bold';
    width: 124px;
    height: 42px;
    padding: 12px;
}

/* MOBILE MENU */

.button-nav-mobile {
    display: none;
    width: 3rem;
    padding: 0px;
    cursor: pointer;
    background: transparent;
    position: relative;
}

.line {
    background: white;
    width: 100%;
    height: 6px;
    display: block;
    margin: 0.3rem;
    border-radius: 4px;
}

.header-navbar-mobile {
    display: none;
    position: absolute;
    right: 0px;
    top: 32px;
    background: rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 4px;
    text-transform: uppercase;
}

.header-navbar-mobile li {
    cursor: pointer;
}

.header-navbar-mobile ul {
    list-style: none;
}

/* WELCOME */

#welcome {
    margin-bottom: 50px;
}

.welcome-text {
    margin-bottom: 64px;
}

.welcome-text h1 {
    text-align: center;
    font-family: 'Montserrat-Bold';
    font-size: 2.76rem;
    margin-top: 86px;
}

.welcome-text-description {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: lighter;
    justify-content: space-between;
}

.welcome-text-description p {
    max-width: 435px;
    font-family: 'Roboto';
    font-size: 1.84rem;
    margin: 0px;
}

.welcome-text-description img {
    display: block;
    width: 100%;
    max-width: 100%;
}

.welcome-menu {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}

.welcome-option-box {
    max-width: 157px;
    height: 261px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
}

.welcome-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome-option-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: #62497c;
    border-radius: 50%;
    margin-bottom: 16px;
}

.welcome-option-title {
    text-transform: uppercase;
    font-family: 'Montserrat-Bold';
    color: #62497c;
    font-weight: bold;
    font-size: 14.74px;
    margin-top: 16px;
}

.welcome-option-description {
    margin-top: 28px;
    font-size: 0.92rem;
    color: #9c9c9c;
    font-family: 'Helvetica';
}

.welcome-option-button button {
    width: 123px;
    height: 42px;
}

/* NEWSLETTER */

#newsletter {
    height: 331px;
    background: url('../images/backgrounds/background-newsletter.png') center no-repeat,
        #cecece;
    align-items: center;
    padding-top: 57px;
}

#newletter .container {
    padding: 0px;
    margin: 0px;
}

.newsletter-title {
    text-align: center;
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 2.76rem;
    margin-top: 0px;
    margin-bottom: 30px;
}

.newsletter-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.newsletter-form input {
    font-size: 1.19rem;
    padding: 15px;
    padding-left: 32px;
    margin: 0px;
    font-family: 'Montserrat-Regular';
    max-width: 413px;
    border-radius: 2px 0 0 2px;
}

.newsletter-form input::placeholder {
    color: #d8d8d8;
}

.newsletter-box-buttons {
    display: flex;
    flex-direction: column;
}

.newsletter-button {
    height: 54px;
    width: 130px;
    margin-bottom: 23px;
}

/* BLOG */

#blog {
    margin-bottom: 87px;
}

.blog-title {
    text-align: center;
    font-family: 'Montserrat-Bold';
    font-size: 2.76rem;
    color: #040405;
    margin-top: 74px;
}

.blog-items {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.blog-item {
    text-align: center;
    width: 229px;
    height: 417px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px 0px 5px 0px;
}

.blog-item-title {
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    width: 170px;
    font-size: 0.92rem;
    align-self: center;
}

.blog-item-date {
    color: #9c9c9c;
    font-family: 'Helvetica';
    font-size: 0.82rem;
}

.blog-item-description {
    font-size: 0.82rem;
    width: 193px;
    height: 84px;
    font-family: 'Helvetica';
    align-self: center;
}

.blog-item-button button {
    width: 124px;
    height: 42px;
    padding: 12px;
}

.blog-hover:hover {
    transform: scale(1.1);
}

/* MAP */

#map {
    display: flex;
    height: 652px;
}

.map-image {
    flex: 1;
    height: 652px;
    background: url('../images/map-image.png') center no-repeat,
        #ffe26d;
    background-position: right 0%;
}

.map-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    background: #ffe26d;
    justify-content: space-around;
    padding: 51px 42px;
}

.map-form h1 {
    font-size: 2.76rem;
    text-transform: initial;
    margin: 0px;
    color: #040405;
}

.map-form label {
    max-width: 309px;
    font-size: 0.645rem;
    color: #323232;
}

.map-form input {
    font-size: 2.25rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    max-width: 309px;
    width: 100%;
}

.map-form textarea {
    height: 144px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    max-width: 309px;
    width: 100%;
}

.map-form button {
    max-width: 309px;
    width: 100%;
    height: 43px;
    padding: 0px;
    border-radius: 0px;
}

/* FOOTER */
#footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 79px;
    margin-bottom: 73px;
}

.footer-text {
    font-family: 'Helvetica';
    font-size: 0.82rem;
}

.footer-social-media-images {
    display: flex;
    flex-wrap: wrap;
    max-width: 110px;
}

.footer-social-media-images div {
    flex: 1;
    margin: 9px;
    cursor: pointer;
}

.footer-social-media-images div:hover {
    transform: scale(1.1);
}

.footer-card-title {
    font-family: 'Montserrat-Bold';
    text-transform: uppercase;
    margin: 0px;
    margin-bottom: 25px;
    font-size: 0.645rem;
}

/* STATES */

.flex {
    display: flex;
}

@media (max-width: 656px) {
    html {
        font-size: 90%;
    }

    .header-navbar-ul {
        display: none;
    }

    .button-nav-mobile {
        display: inline-block;
    }

    .welcome-text-description {
        justify-content: center;
    }

    #map {
        flex-direction: column;
    }

    .map-form {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 464px) {
    .newsletter-title {
        margin-bottom: 15px;
    }
    .newsletter-button {
        margin-bottom: 0px;
    }
}